@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");
:root {
  --black: #000000;
  --cyan-bluish-gray: #abb8c3;
  --white: #ffffff;
  --pale-pink: #f78da7;
  --vivid-red: #cf2e2e;
  --luminous-vivid-orange: #ff6900;
  --luminous-vivid-amber: #fcb900;
  --light-green-cyan: #7bdcb5;
  --vivid-green-cyan: #00d084;
  --pale-cyan-blue: #8ed1fc;
  --vivid-cyan-blue: #0693e3;
  --vivid-purple: #9b51e0; /**
  * typography
  */

  --ff-oswald: "Oswald", sans-serif;
  --ff-rubik: "Rubik", sans-serif;

  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 4rem;
  --fs-4: 3rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.2rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
  * spacing
  */

  --section-padding: 50px;
  --transition: 0.5s ease-in-out all;

  /**
  * shadow
  */

  --shadow-1: 4px 0px 40px hsl(0, 100%, 2%);
  --shadow-2: 0px 40px 60px hsla(202, 75%, 47%, 0.7);
  --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}
html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--onyx);
  font-size: 1.6rem;
  line-height: 1.7;
}
/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { 
  position: relative;
  padding-inline: 15px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: var(--white);
  height: 100%;
}
.btn:hover {
  background-color: #a92828;
}

/*-----------------------------------*\
  #REUSED STYLE END
\*-----------------------------------*/

/*-----------------------------------*\
 MAIN CSS
\*-----------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--vivid-red);
  color: var(--white);
  overflow-y: hidden;
  transition: var(--transition);
  z-index: 1;
}
.logo {
  padding-left: 30px;
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  letter-spacing: 1px;
}
.logo span {
  display: inline-block;
}
.nav-links {
  display: inline-block;
}
.nav-link {
  display: inline-block;
  padding: 1rem;
  transition: var(--transition);
}
.navbar-right i {
  font-size: 1.75rem;
  margin-right: 10px;
}
.navbar-right p {
  display: inline-block;
  font-size: var(--fs-8);
}

.covid-19 {
  display: block;
  padding: 0.5rem;
  background: #a92828;
}
.navbar-right .nav-toggle {
  display: none;
}
.nav-buttom {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100vw;
  height: 6rem;
  z-index: 9;
  /* background-color: var(--white); */
}
.nav-buttom-links {
  justify-content: center !important;
}
.nav-buttom-link {
  color: var(--white);
  margin: 1rem;
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

/* banner section */
.banner {
  position: relative;
  z-index: -99;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("./images/banner-2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center !important;
}
.banner h2 {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 10rem;
  font-weight: 500;
  font-family: serif;
  color: var(--white);
  text-shadow: var(--shadow-1);
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .logo span {
    display: none;
  }
  .navbar-right .nav-toggle {
    display: block;
  }
  .nav-links{
  display: none;
  }
  .nav-buttom{
    display: none;
  }
  .nav-links.active {
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    min-width: 250px;
    width: 60vw; 
    background-color: var(--luminous-vivid-amber);
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-link{
    color: var(--white);
    font-size: 1.5rem;
    border-bottom: 1px solid var(--white);
  }
  .covid-19 {
    display: none;
  }
  .nav-buttom.active {
    display: inline-block;
    position: fixed;
    bottom: 0;
   top: auto;  
   left: 0;
   width: 60vw;
   min-width: 250px;
   height: auto;
   
  }
   .nav-buttom-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
  }
   .nav-buttom-link{
    padding: .5rem 0;
    font-size: 1.2rem;
    border: 1px solid var(--white);
  }
}
